<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:name=".AppApplication">
        <activity
            android:name="com.hjq.copy.MainAct"
            android:exported="true">
           <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />

                &lt;!&ndash;<category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />&ndash;&gt;


            </intent-filter>-->
            <!-- 处理DeepLink 如需测试  请手机浏览器访问  https://330132662.github.io/larabbs/public/index.html  或者转为二维码扫码-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="open"
                    android:pathPrefix="/scan"
                    android:scheme="myapp" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Android13Act"
            android:exported="true"
            android:screenOrientation="sensorPortrait" />
    </application>
</manifest>